.header {
  position: sticky;
  top: 1;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0px;
  background-color: white;
  width: 100%;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #eef3f8;
  height: 22px;
  margin-left: 10px;
  color: gray;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  cursor: pointer;
}
.header__input {
  outline: none;
  background-color: #eef3f8;
  border: none;
  width: 250px;
}
.header__right {
  display: flex;
}
